<h1>Search Github Repositories</h1>

<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @findings %>
  <% @findings.each do |find| %>
    <%= link_to find["html_url"], find["html_url"]  %>
    <%= find["description"] %>
  <% end %>
<% end %>
